@font-face {
    font-family: 'Aurebesh';
    src: url('AurebeshAF-Canon.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative; /* Ensures child elements with absolute positioning are relative to this container */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: space-between; /* Maximizes space between top content and the check button */
    align-items: center; /* Centers children horizontally */
}

button {
	font-family: 'Aurebesh', sans-serif;
	display: block; /* Block display to take full width of parent */
    margin: 20px auto 10px auto;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-align: center; /* Ensures text is centered if needed */
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover, adjust as needed */
}

#about-btn, #help-btn {
    position: absolute;
    top: 20px;
    margin: 2px auto;
    z-index: 10;
    border: none;
    color: #666666;
    background-color: #f0f0f0;
    cursor: pointer;
    font-family: 'Aurebesh', sans-serif;
}

#about-btn { left: 20px; }
#help-btn { right: 20px; }

#about, #help {
    position: fixed; /* Fixed positioning to make it stay in place even when scrolling */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning to truly center the div */
    z-index: 1000; /* Ensure it's on top of other elements */
    width: 80%; /* Or specify a fixed width */
    max-width: 500px; /* Maximum width */
    padding: 20px;
    background-color: white; /* Background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for a "pop-up" feel */
    display: none; /* Initially hidden */
}

/* Additional styling for overlay background */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 999; /* Just below the about content to cover other elements */
    display: none; /* Initially hidden */
}

#card-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; /* Adjust based on your preference */
    height: 40%;
    margin: 60px auto; /* Increased top and bottom margin */
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #000; /* Simple solid border; customize as needed */
    border-radius: 15px; /* Rounded corners */
    background-color: #fff; /* Optional: adds background color */
}

#word {
    font-family: 'Aurebesh', sans-serif;
    font-size: 32px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds a gap between buttons */
    position: absolute; /* Positions the button absolutely within its relative parent, which is #container */
    bottom: 90px; /* Distance from the bottom of the screen */
    width: 80%;
    height: 20%;
    padding: 10px;
}

#check-btn, .response-btn {
    flex: 1; /* Makes each button fill the container evenly */
    padding: 10px 0; /* Ensures all buttons have the same height */
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
}

#check-btn {
    background-color: #007bff; /* Example color; adjust as needed */
    font-family: 'Aurebesh', sans-serif;
}

#missed-btn {
    background-color: red;
    font-family: 'Aurebesh', sans-serif;
}

#good-btn {
    background-color: green;
    font-family: 'Aurebesh', sans-serif;
}


#piles {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px; /* Adjust based on your layout */
    width: 100%;
}

.pile {
    position: relative; /* Allows absolute positioning relative to each pile */
    display: flex;
    justify-content: center; /* Centers the number horizontally */
    align-items: center; /* Centers the number vertically */
    width: 65px; /* Width of the icon */
    height: 53px; /* Height of the icon */
}

.pile img {
    width: 100%;
    height: auto;
}

.pile-number {
    position: absolute;
    color: black; /* Choose a color that makes the number visible on your icon */
    font-weight: bold; /* Makes the number more legible */
}

.aurebesh-table-container {
    overflow-x: auto; /* Ensures table is scrollable on small screens */
}

.aurebesh-table {
    width: 100%;
    border-collapse: collapse;
}

.aurebesh-table td {
    border: 1px solid #ccc; /* Light grey border */
    text-align: center;
    padding: 0px;
    vertical-align: top; /* Align content to the top */
}

.aurebesh {
    font-family: 'Aurebesh', sans-serif;
    font-size: 24px;
    margin-top: 2px;
}

.english {
    font-family: sans-serif;
    font-size: 16px;
    color: #666;
}

.name {
    font-family: sans-serif;
    font-size: 14px;
    color: #CCC;
    margin-top: 2px;
    margin-bottom: 0px;
}
