@font-face {
    font-family: 'Aurebesh';
    src: url('AurebeshAF-Canon.otf') format('opentype');
}

:root {
    /* Light mode variables */
    --background-color: white;
    --text-color: #121212;
    --header-color: black;
    --link-color: blue;
    --visited-color: purple;
    --card-text: black;
    --card-background: #EEE;
    --button-color: #f0f0f0;
    --button-text: #666;
    --popup-background: white;
    --popup-text: #666;
    --strong-gray: #666;
    --weak-gray: #ccc;
}

.dark-mode {
    /* Dark mode variables */
    --background-color: #121212;
    --text-color: #CCCCCC;
    --header-color: white;
    --link-color: #4e9afc;
    --visited-color: #b2b;
    --card-text: white;
    --card-background: #333;
    --button-color: #555;
    --button-text: #ccc;
    --popup-background: black;
    --popup-text: #ccc;
    --strong-gray: #ccc;
    --weak-gray: #777;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    touch-action: manipulation; /* disables double-tap zooming */
}

a:link { color: var(--link-color); }
a:visited { color: var(--visited-color); }

.aurebesh {
	font-family: 'Aurebesh', sans-serif;
}

#container {
    position: relative; /* Ensures child elements with absolute positioning are relative to this container */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: space-between; /* Maximizes space between top content and the check button */
    align-items: center; /* Centers children horizontally */
}

button {
	display: block; /* Block display to take full width of parent */
    margin: 20px auto 10px auto;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-align: center; /* Ensures text is centered if needed */
}

button:hover {
    background-color: #0056b3;
}

#about-btn, #help-btn {
    position: absolute;
    top: 20px;
    margin: 2px auto;
    z-index: 10;
    border: none;
    color: var(--button-text);
    background-color: var(--button-color);
    cursor: pointer;
}

#about-btn { left: 20px; }
#help-btn { 
	right: 20px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

#about, #help {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust positioning to truly center the div */
    z-index: 1000; /* Ensure it's on top of other elements */
    width: 80%; /* Or specify a fixed width */
    max-width: 500px; /* Maximum width */
    padding: 20px;
    background-color: var(--popup-background);
    text-color: var(--popup-text);
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for a "pop-up" feel */
    display: none; /* Initially hidden */
}

/* Additional styling for overlay background */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 999; /* Just below the about content to cover other elements */
    display: none; /* Initially hidden */
}

#card-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; /* Adjust based on your preference */
    height: 40%;
    margin: 120px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #000; /* Simple solid border; customize as needed */
    border-radius: 16px;
    color: var(--card-text);
    background-color: var(--card-background);
}

#word {
    font-family: 'Aurebesh', sans-serif;
    font-size: 32px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds a gap between buttons */
    position: absolute; /* Positions the button absolutely within its relative parent, which is #container */
    bottom: 90px; /* Distance from the bottom of the screen */
    width: 80%;
    height: 20%;
    padding: 10px;
}

#check-btn, .response-btn {
    flex: 1; /* Makes each button fill the container evenly */
    padding: 10px 0; /* Ensures all buttons have the same height */
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
}

#check-btn {
    background-color: #007bff; /* Example color; adjust as needed */
}

#missed-btn {
    background-color: red;
}

#good-btn {
    background-color: green;
}


#piles {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px; /* Adjust based on your layout */
    width: 100%;
}

.pile {
    position: relative; /* Allows absolute positioning relative to each pile */
    display: flex;
    justify-content: center; /* Centers the number horizontally */
    align-items: center; /* Centers the number vertically */
    width: 65px; /* Width of the icon */
    height: 53px; /* Height of the icon */
}

.pile img {
    width: 100%;
    height: auto;
}

.pile-number {
    position: absolute;
    color: black; /* Choose a color that makes the number visible on your icon */
    font-family: 'Aurebesh', sans-serif;
    font-size: 24px;
/*    font-weight: bold;*/
}

.aurebesh-table-container {
    overflow-x: auto; /* Ensures table is scrollable on small screens */
}

.aurebesh-table {
    width: 100%;
    border-collapse: collapse;
}

.aurebesh-table td {
    border: 1px solid #ccc; /* Light grey border */
    text-align: center;
    padding: 0px;
    vertical-align: top; /* Align content to the top */
}

.aurebesh-table .aurebesh {
    font-family: 'Aurebesh', sans-serif;
    font-size: 24px;
    margin-top: 2px;
}

.aurebesh-table .english {
    font-family: sans-serif;
    font-size: 16px;
    color: var(--strong-gray);
}

.aurebesh-table .name {
    font-family: sans-serif;
    font-size: 14px;
    color: var(--weak-gray);
    margin-top: 2px;
    margin-bottom: 0px;
}
